@model IEnumerable<SocialStocks2.Models.BCustomer>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADDRESS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PHONE)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NAME)
            </td>
            <td style ="color:blue; text-decoration:underline; cursor:pointer;" 
                onclick="selectCustomer('@item.ADDRESS')">
                @Html.DisplayFor(modelItem => item.ADDRESS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PHONE)
            </td>
            <td></td>
        </tr>
    }
</table>
